@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 254, 241, 238;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h4 {
  font-size: 1.2rem;
  line-height: 3.2rem;
}

#notice h5 {
  font-size: 1rem;
  line-height: 3.2rem;
  font-weight: bold;
}

#notice h6 {
  font-size: 1rem;
  line-height: 2.4rem;
}

#notice p {
  font-size: 0.7rem;
  line-height: 1rem;
  margin-block-end: 0.4rem;
}

#notice ul {
  list-style-type: square;
  margin-block-end: 0.4rem;
}

#notice li {
  font-size: 0.7rem;
  line-height: 1rem;
  margin-left: 2rem;
}

.button,
a {
  transition: all 200ms ease-in-out;
}

a:hover {
  color: rgb(234 88 12);
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
